<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resenha Cultural</title>
    <link href="~/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/css/estilo.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @Html.Partial("cabecalho")
    <div class="container clearfix">
        <main>
            @RenderBody()
        </main>
    
        @Html.Partial("lateral")
    </div>
    
    @Html.Partial("rodape")
    
    @RenderSection("Scripts", false)
</body>
</html>
