@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

@model blog.Models.Post
@addTagHelper *, Microsoft.AspNetCore.Mvc.tagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Visualiza</title>
</head>
<body>

    @using (Html.BeginForm("EditaPost", "Post"))
    {
        @Html.EditorFor(p => p)

        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden" name="Publicado" value="@Model.Publicado.ToString()" />
        <input type="hidden" name="DataPublicacao" value="@Model.DataPublicacao.ToString()" />

        <button type="submit" class="btn btn-primary">Cadastrar</button>

    }
    @section Scripts{
        @Html.Partial("_Scripts")
    }
</body>
</html>